- id: lights_on_one_hour_before_sunset
  alias: Lights on one hour before sunset
  trigger:
    platform: sun
    event: sunset
    offset: '-01:00:00'
  action:
    service: light.turn_on

- id: lights_on_thirty_minutes_before_sunset
  alias: Lights on thirty minutes before sunset
  trigger:
    platform: sun
    event: sunset
    offset: '-00:30:00'
  action:
    service: switch.turn_on
    entity_id:
      - switch.vardagsrum_fonster_1
      - switch.vardagsrum_fonster_2
      - switch.vardagsrum_byra
      - switch.smalampor

- id: lights_off
  alias: Turn off all lights at 23:20
  trigger:
    platform: time
    hours: 23
    minutes: 20
    seconds: 0
  action:
    - service: light.turn_off
    - service: switch.turn_off
      entity_id:
        - switch.vardagsrum_fonster_1
        - switch.vardagsrum_fonster_2
        - switch.vardagsrum_byra
        - switch.smalampor

- id: lamp_brightness_and_color
  alias: Change brightness and color of lamps in livingroom
  trigger:
    - platform: state
      entity_id: input_number.light_brightness
    - platform: state
      entity_id: input_number.light_color
  action:
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_left_of_tv
        brightness: '{{ states.input_number.light_brightness.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_right_of_tv
        brightness: '{{ states.input_number.light_brightness.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_left_of_tv
        color_temp: '{{ states.input_number.light_color.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_right_of_tv
        color_temp: '{{ states.input_number.light_color.state | int }}'


