- id: 'Auto Renew SSL Cert'
  alias: 'Auto Renew SSL Cert'
  trigger:
    platform: numeric_state
    entity_id: sensor.ssl_cert_expiry
    below: 29
  action:
    service: shell_command.renew_ssl

- id: lights_auto_on
  alias: lights_auto_on
  trigger:
    platform: sun
    event: sunset
    offset: '-01:00:00'
  condition:
    - condition: state
      entity_id: input_boolean.light_auto_on
      state: 'on'
  action:
    service: light.turn_on

- id: lights_auto_on
  alias: lights_auto_on
  trigger:
    platform: time
    minutes: '/1'
    seconds: 0
  condition:
    - condition: state
      entity_id: input_boolean.light_auto_off
      state: 'on'
    - condition: template
      value_template: '{{ now().strftime("%H:%M") == states.sensor.light_auto_off_time.state }}'
  action:
    - service: light.turn_off
    - service: switch.turn_off
      entity_id:
        - switch.vardagsrum_fonster_1
        - switch.vardagsrum_fonster_2
        - switch.vardagsrum_byra
        - switch.smalampor

- id: lamp_brightness_and_color
  alias: Change brightness and color of lamps in livingroom
  trigger:
    - platform: state
      entity_id: input_number.light_brightness
    - platform: state
      entity_id: input_number.light_color
  action:
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_left_of_tv
        brightness: '{{ states.input_number.light_brightness.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_right_of_tv
        brightness: '{{ states.input_number.light_brightness.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_left_of_tv
        color_temp: '{{ states.input_number.light_color.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_right_of_tv
        color_temp: '{{ states.input_number.light_color.state | int }}'


