- id: 'Set theme at startup'
  alias: 'Set theme at startup'
  initial_state: 'on'
  trigger:
    platform: homeassistant
    event: start
  action:
    service: frontend.set_theme
    data:
      name: dark_theme

- id: 'New HA version'
  alias: New HA version
  trigger:
    - platform: state
      entity_id: updater.updater
  action:
    service: notify.gmail
    data:
      title: 'New HA version available'
      message: 'There is a new Home Assistant {{ states.updater.updater.state }} release available.'

- id: 'Auto Renew SSL Cert'
  alias: 'Auto Renew SSL Cert'
  trigger:
    platform: numeric_state
    entity_id: sensor.ssl_cert_expiry
    below: 29
  action:
    service: shell_command.renew_ssl

- id: lights_auto_on
  alias: lights_auto_on
  trigger:
    platform: sun
    event: sunset
    offset: '-01:00:00'
  condition:
    - condition: state
      entity_id: input_boolean.light_auto_on
      state: 'on'
  action:
    service: light.turn_on

- id: lights_auto_on
  alias: lights_auto_on
  trigger:
    platform: time
    minutes: '/1'
    seconds: 0
  condition:
    - condition: state
      entity_id: input_boolean.light_auto_off
      state: 'on'
    - condition: template
      value_template: '{{ now().strftime("%H:%M") == states.sensor.light_auto_off_time.state }}'
  action:
    - service: light.turn_off
    - service: switch.turn_off
      entity_id:
        - switch.vardagsrum_fonster_1
        - switch.vardagsrum_fonster_2
        - switch.vardagsrum_byra
        - switch.smalampor

- id: lamp_brightness_and_color
  alias: Change brightness and color of lamps in livingroom
  trigger:
    - platform: state
      entity_id: input_number.light_brightness
    - platform: state
      entity_id: input_number.light_color
  action:
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_left_of_tv
        brightness: '{{ states.input_number.light_brightness.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_right_of_tv
        brightness: '{{ states.input_number.light_brightness.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_left_of_tv
        color_temp: '{{ states.input_number.light_color.state | int }}'
    - service: light.turn_on
      data_template:
        entity_id: light.lamp_right_of_tv
        color_temp: '{{ states.input_number.light_color.state | int }}'

# This automation script runs when the value of input_number set_temperature has changed.
- id: Set temperature changed
  alias: Set temperature changed
  trigger:
    - platform: state
      entity_id: input_number.set_temperature
  action:
    - service: notify.gmail
      data_template:
        title: 'New temperature'
#        message: 'The temperature is now set to 18'
        message: >
          {% if states.input_number.set_temperature.state | int == 18 %}
            'The temperature is now set to 18'
          {% elif states.input_number.set_temperature.state | int == 19 %}
            'The temperature is now set to 19'
          {% elif states.input_number.set_temperature.state | int == 20 %}
            'The temperature is now set to 20'
          {% elif states.input_number.set_temperature.state | int == 21 %}
            'The temperature is now set to 21'
          {% elif states.input_number.set_temperature.state | int == 22 %}
            'The temperature is now set to 22'
          {% elif states.input_number.set_temperature.state | int == 23 %}
            'The temperature is now set to 23'
          {% elif states.input_number.set_temperature.state | int == 24 %}
            'The temperature is now set to 24'
          {% elif states.input_number.set_temperature.state | int == 25 %}
            'The temperature is now set to 25'
          {% elif states.input_number.set_temperature.state | int == 26 %}
            'The temperature is now set to 26'
          {% elif states.input_number.set_temperature.state | int == 27 %}
            'The temperature is now set to 27'
          {% elif states.input_number.set_temperature.state | int == 28 %}
            'The temperature is now set to 28'
          {% elif states.input_number.set_temperature.state | int == 29 %}
            'The temperature is now set to 29'
          {% elif states.input_number.set_temperature.state | int == 30 %}
            'The temperature is now set to 30'
          {% else %}
            'The temperature is unknown'
          {% endif %}
