homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 55.6
  longitude: 13.3833
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 34
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Stockholm
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes/

# Enables configuration UI
config:

http:
  api_password: !secret api_password
  ssl_certificate: /etc/letsencrypt/live/leifmariposa.asuscomm.com/fullchain.pem
  ssl_key: /etc/letsencrypt/live/leifmariposa.asuscomm.com/privkey.pem
  base_url: leifmariposa.asuscomm.com

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
#discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:
#  intents:
#    ShoppingListAddItem:
#      - Add {item} to my shopping list

shopping_list:


# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

logger:

# http iframe doesn't work with https
#panel_iframe:
#  glances:
#    title: 'Raspberry Pi'
#    icon: mdi:speedometer
#    url: 'http://192.168.2.108:61208/'

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Text to speech
tts:
  - platform: google
    language: 'sv'

sensor: !include sensors.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

verisure:
  username: leifmariposa@hotmail.com
  password: !secret verisure_password

device_tracker:
  platform: asuswrt
  host: 192.168.2.1
  username: admin
  password: !secret asuswrt_password
  protocol: telnet
  interval_seconds: 120
  track_new_devices: no

tradfri:
  host: 192.168.2.96

tellduslive:
#  public_key: FEHUVEW84RAFR5SP22RABURUPHAFRUNU
#  private_key: !secret tellduslive_private_key
#  token: 266a7d90754861957512378424a3b9680592b1a33
#  token_secret: !secret tellduslive_token_secret

shell_command:
  renew_ssl: ~/certbot/certbot-auto renew --quiet --no-self-upgrade --standalone --preferred-challenges http-01

notify:
  - name: gmail
    platform: smtp
    server: smtp.gmail.com
    port: 587
    timeout: 15
    sender: !secret gmail_address
    encryption: starttls
    username: !secret gmail_address
    password: !secret gmail_password
    recipient:
      - leifmariposa@hotmail.com
    sender_name: Home Assistant

input_boolean:
  light_auto_on:
    name: Turn on lights automatically
    initial: on
    icon: mdi:flash-auto

  light_auto_off:
    name: Turn off lights automatically
    initial: on
    icon: mdi:flash-off

input_number:
  light_brightness:
    name: Brightness
    icon: mdi:brightness-5
    initial: 128
    min: 0
    max: 255
    step: 10

  light_color:
    name: Color
    icon: mdi:invert-colors
    initial: 300
    min: 154
    max: 500
    step: 10

  light_auto_on_time:
    name: Minutes before sunset
    icon: mdi:timer
    unit_of_measurement: minutes
    initial: 60
    min: 0
    max: 120
    step: 10

  light_auto_off_hour:
    name: Hour
    icon: mdi:timer
    initial: 23
    min: 0
    max: 24

  light_auto_off_minutes:
    name: Minutes
    icon: mdi:timer
    initial: 20
    min: 0
    max: 59

switch:
  - platform: broadlink
#    host: 192.168.2.43
#    mac: 'B4:43:0D:30:4A:9F'
    host: 192.168.2.151
    mac: '34:EA:34:43:AF:C2'
#    timeout: 60
#    type: rm2
    type: rm_mini
#    update_interval: 60
    monitored_conditions:
      - temperature
    switches:
#      aircond_off:
#        friendly_name: "Airconditioner Off"
#        command_on: 'JgDeAHw+EA8PLhAPEC4QEBAtEA8QLhAPEC4QDw8uEC4RDxAuEA8PLhAuEC4QLhAOEA8RLhAuEA8PEBAOEA8QLhAPEA8QDxAPES0QDxAuEA8RDhAPDw8QLhAPEA8QEBAPEC0QDxAPEC4QDxAPEA8RDREtEQ8QDxAPEA8PLhAPEC4QDxAPEA8QDxAOEQ8QLhAPEA8QDxAOEQ4QDxAPEA8SDRAPEBAQLRAPEA8QDxAPEA8QDxAPEQ0QDxAPEC8QDxAtEC4QLhAuEC4QDw8PEQ8QDxAPEA8QLg8ABEcIAAH5EgANBQAAAAAAAAAAAAA='
##        command_off: 'JgDeAHw+EA8PLhAPEC4QEBAtEA8QLhAPEC4QDw8uEC4RDxAuEA8PLhAuEC4QLhAOEA8RLhAuEA8PEBAOEA8QLhAPEA8QDxAPES0QDxAuEA8RDhAPDw8QLhAPEA8QEBAPEC0QDxAPEC4QDxAPEA8RDREtEQ8QDxAPEA8PLhAPEC4QDxAPEA8QDxAOEQ8QLhAPEA8QDxAOEQ4QDxAPEA8SDRAPEBAQLRAPEA8QDxAPEA8QDxAPEQ0QDxAPEC8QDxAtEC4QLhAuEC4QDw8PEQ8QDxAPEA8QLg8ABEcIAAH5EgANBQAAAAAAAAAAAAA='
#      aircond_heat_26:
#        friendly_name: "Heating 26"
#        command_on: 'JgDWAHw9EA8QLhAPEC4QDxAuEA8QLhAPEC0QDxAuEC4RDxAtEA8QLhAuEC0QLhAPEBAQLhAtEA8QDxAPEA8QLg8QEA4QDxAvEA8QDxAuEA4QDxAPEA8QLhAPEA8RDhAuEC4QDxAPEC0QDxAPEA8QDxAvEA4RDhAuEA8QLhAPEC0QDxAPEBAQDxAPEA8PLhAPEA8QDxAPEA8QDw8QEA4QEBAPEA8QLhAPDw8RLRAPEA8QDxAPEA8QDxAPEC4QDxAuEC0QLhAuEC8QDxAOEA8QLhAuEC4PLhAADQUAAA=='
#      aircond_heat_25:
#        friendly_name: "Heating 25"
#        command_on: 'JgDWAHw9EA8QLRAPEC4QEBAuEA8PLhAPEC4QDxAuEC0RDxAuEA8QLhAtEC4QLhAPEA8QLhAuEA8QDxAPEA8QLRAPEA8QDxAQDxAQDhAuEA8QDxAPEA8QLg8PEA8QDxAvEC4QDhAPEC4QDxAPEA8QDxAtEQ8QDxAuEA8QLRAPEC4QDxAPEA8QDxAPEA8QLhAPEA8QDxAPDxAQDhAPEA8QDxAQEA8QLRAPEA8QLhAPEA8PEBAOEA8QDxAQEC4QDw8uEC4QLhAuEC0RDxAPEA8QDxAuEC4PLhAADQUAAA=='
#      aircond_heat_24:
#        friendly_name: "Heating 24"
#        command_on: 'JgDWAHw+EA8QLREOEC4QDxAvDxAQLRAPEC4QDxAuEC0QDxAvEA8QLhAtEC4QLhAPEA8PLxAuEA8QDxAPEA8PLhAPEA8QDxAuES0QLhAPEA8QDxAPEA8PLhAPEA8QEBAuDy4QDxAPEC4QDxAPEA8QDhAvEA8QDxAuDw8RLRAPEC4QDxAPEA8QDxAPEA8QLhAPEA8QDhAPEA8QDxAPEA8QDxEPEA4QLhAPEA8QLhAPEA4QDxAPEA8QEBAPEC4PEA8uEC4QLhAtEC8QDxAPEA8QLg8PEA8QDxAADQUAAA=='
#      aircond_heat_23:
#        friendly_name: "Heating 23"
#        command_on: 'JgDWAHw9EA8QLg8PEC4RDxAuEA8QLRAPEC4QDxAuEC0RDxAuEA8QLhAtEC4QLhAPEA8QLhAuEA8QDxAPEA8PLhAPEA8QDxAQEC0QLhAPEA8QDxAPEA8QLREOEA8RDxAuEC0QDxAPEC4QDxAPEA8PEBAuEA8QDxAuEA8PLhAPEC4QDxAPEBAPDxEOEA8QLhAPEA8QDxAOEQ4QDxAPEA8QEBAPDxAQLRAPEA8QLhAPEA8QDhAPEA8RDxAPEC4QDxAtEC4QLhAuEC4QDxAPEA8QDxAPEA8PDxAADQUAAA=='
#      aircond_heat_22:
#        friendly_name: "Heating 22"
#        command_on: 'JgDYAHw9EA8QLxAOEC4QDxAuEA8QLhAOEC4QDxAvEC4PEA8uEA8QLhAuEC0RLhAPEA8QLREtEA8QDxAPEA8QLhAPEA8QDxAuEA8QLg8PEA8QDxAPEA8QLxAOEA8QDxAuEC4QDxAOEC4QDxAQEA8QDxAtEA8QDxAuEA8QLg8PES4QDxAPEA8QDxAPDw8RLRAPEA8QDxAPEA8QDxAPEA8QDxAPEA8QLhAOEQ4QLhAPEBAQDw8PEQ4QDxAPECQIBBAPEC4QLRAvEC4PLhAPEA8QDxAuEC4QDw8PEQANBQ=='
#      aircond_heat_21:
#        friendly_name: "Heating 21"
#        command_on: 'JgDWAH09EA8QLRAPEC8QDxAuEA4QLhAPEC4QDxAtEC8QDxAuEA8QLRAuEC4QLhEOEQ4QLhAuEA8QDxAPDw8RLRAPEA8RDxAPDw8QLhAPEA8QDxAPEA8QLRAPEBAQDxAuEC0RDhAPEC4QDxAPEA8QDxAuEA8QDxAuEA8QLRAPEC4QDxAPEQ8QDhAPEA8QLhAPEA8QDw8PEA8QDxAPEA8RDxAPEA8PLhAPEA8QLhAPEA8PDxEOEBAQDxAPEC4PEA8uEC4QLhAuEC4QDxAPEA8QDxAuEA4QDxAADQUAAA=='
      volume_down:
        friendly_name: "Volume Down"
#        command_on: 'JgCMAJWVEjgSNxM3ExITEhMSExITEhM3EzcTNxMSExITEhMSEhMTNxM3EhMSOBITEhMSEhMSExITEhM3ExITNxM3EzcTNxMABgmVlBM3EzcTNxMSExISExMSEhMSOBI4EjgSExISExITEhMSEzcTNxMSEzcTEhMSExITEhMSExITNxMSEzcSOBI4EjgTAA0FAAAAAAAAAAAAAAAA='
        command_on: 'JgCMAJOUEzcUNhM3ExISExITEhISExI4EjgSOBITEhISExEUEhISOBI4EhMQOhETERQQFBEUERMRFBE4ERQRORE5EDkROREABhGNlxE5EDkROREUERQQFBEUEBQROBE5ETkRFBAUEBQRFBAUEDkRORAUETkRExETERQQFBAUEBQQORETETkROBI3EjgRAA0FAAAAAAAAAAAAAAAA'
      volume_up:
        friendly_name: "Volume Up"
#        command_on: 'JgCMAJWUEzcTNxM3ExITEhMSExITEhI4EjgSOBMSEhMSExITEhMSNxM3EzcTEhMSExITEhMSExITEhMSEzcTNxM3EzcTNxMABgiWlBI4EjgSOBISExITEhMSExITNxM3EzcTEhMSExITEhMSEjgSOBI4EhMSExITEhMSExITEhITEhM3EzcTNxM3EzcTAA0FAAAAAAAAAAAAAAAA='
        command_on: 'JgCMAJOUFDYUNhQ2FBEUERQRExITEhM3EzYUNhQSExETEhMSExEUNhQ2FDYTEhMSExEUERMSExETEhMSEzYUNhM3EzcTNxMABg+RlBM2FDYUNhQRExITERQRExITNhM3EzcTEhMRExITERMSEjcTNxM2FBETEhMRExETEhMRExETEhI3EzYTNxM3EzYTAA0FAAAAAAAAAAAAAAAA'
#        command_off: 'JgCMAJWVEjgSNxM3ExITEhMSExITEhM3EzcTNxMSExITEhMSEhMTNxM3EhMSOBITEhMSEhMSExITEhM3ExITNxM3EzcTNxMABgmVlBM3EzcTNxMSExISExMSEhMSOBI4EjgSExISExITEhMSEzcTNxMSEzcTEhMSExITEhMSExITNxMSEzcSOBI4EjgTAA0FAAAAAAAAAAAAAAAA='

#        command_twentyfive: 'JgDWAH47EA8QLhAPDy4RDxAuEA8QLhAPDy4QDxAuEC8PDxEtEA8QLhAuEC0QLhAPEBAQLhAtEA8QDxAPEA8QLhAPEA8PDxEPEA8QDxAuEA8PDxEOEA8QLhAPEA8QDxAuEC4QDxAPEC4QDw8PEA8QDxAvEA8QDxAOES0QLhAPEC4PEBAOEA8QEBAPEA8QLhAPDw8QDxAPEA8QDxAPEA8QDxEOEA8QLhAPEA8QLhAPDw8QDxAPEA8QDxEPEC0QDxAuEC4QLhAtEC8QDxAPEA8QLRAPEC4QLhAADQUAAA=='
