homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 55.6
  longitude: 13.3833
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 34
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Stockholm
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  api_password: !secret api_password
  ssl_certificate: /etc/letsencrypt/live/leifmariposa.asuscomm.com/fullchain.pem
  ssl_key: /etc/letsencrypt/live/leifmariposa.asuscomm.com/privkey.pem
  base_url: leifmariposa.asuscomm.com

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
#discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:
#  intents:
#    ShoppingListAddItem:
#      - Add {item} to my shopping list

shopping_list:


# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

panel_iframe:
  glances:
    title: 'Raspberry Pi'
    icon: mdi:speedometer
    url: 'http://192.168.2.108:61208/'

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Text to speech
tts:
  - platform: google
    language: 'sv'

sensor: !include sensors.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

verisure:
  username: leifmariposa@hotmail.com
  password: !secret verisure_password

device_tracker:
  platform: asuswrt
  host: 192.168.2.1
  username: admin
  password: !secret asuswrt_password
  protocol: telnet
  interval_seconds: 120
  track_new_devices: no

tradfri:
  host: 192.168.2.96

#tellduslive:
#  public_key: FEHUVEW84RAFR5SP22RABURUPHAFRUNU
#  private_key: !secret tellduslive_private_key
#  token: 266a7d90754861957512378424a3b9680592b1a33
#  token_secret: !secret tellduslive_token_secret

shell_command:
  renew_ssl: ~/certbot/certbot-auto renew --quiet --no-self-upgrade --standalone --preferred-challenges http-01

input_boolean:
  light_auto_on:
    name: Turn on lights automatically
    initial: on
    icon: mdi:flash-auto

  light_auto_off:
    name: Turn off lights automatically
    initial: on
    icon: mdi:flash-off

input_number:
  light_brightness:
    name: Brightness
    icon: mdi:brightness-5
    initial: 128
    min: 0
    max: 255
    step: 10

  light_color:
    name: Color
    icon: mdi:invert-colors
    initial: 300
    min: 154
    max: 500
    step: 10

  light_auto_on_time:
    name: Minutes before sunset
    icon: mdi:timer
    unit_of_measurement: minutes
    initial: 60
    min: 0
    max: 120
    step: 10

  light_auto_off_hour:
    name: Hour
    icon: mdi:timer
    initial: 23
    min: 0
    max: 24

  light_auto_off_minutes:
    name: Minutes
    icon: mdi:timer
    initial: 20
    min: 0
    max: 59

switch:
  - platform: broadlink
    host: 192.168.2.43
    mac: 'B4:43:0D:30:4A:9F'
    type: rm2
    update_interval: 60
    monitored_conditions:
      - temperature
    switches:
      aircond:
        friendly_name: "Airconditioner"
        command_on: 'JgDWAH48EA8QLg8PES0QDxAvEA8SKxAPEC4QDxAuEC4PDxAvEA8QLhAtEC4QLhAPEA8QLhAuEA8QDxAPEA8QLhAOEA8QDxAuES4QLg8PEA8QDxAPEA8QLg8PEQ4QDxEPEC4QDxAPEC0QDxAPEA8SDRIsEA8QDxAPEC4QLhAPEC0QDxAPEA8QDxAQEQ4QLRAPEA8QDxAPEA8QDxAPEA4QDxAPEQ8QLhAPEA8PDxEOEA8QDxAPEA8QDxAPEC4QDxAuEC4QLg8uEC4QDxAQEA8PLhAuEC4QDxAADQUAAA=='
        command_off: 'JgDWAHw9EA8QLhAPEC4QDxAuEA8QLhAPDy4QDxAuEC8QDxAtEA8QLhAuEC4QLRAPEBASLBAuEA4QDxAPEA8QLhAPEA8PEBAuEC4QLhAPEA8PDxAPEA8QLhAPEw0QDhEOEC4QDxAPEC4QDxAOEA8QDxAvEA8QDxAPDy4QLhAPEC4QDxAPDxAQDxAPEA8QLhAPEA4RDhAPEA8QDxAPEA8RDxAOEA8QLhAPEA8QDxAPEA8PDxAPEA8QDxEPEC4PEBAtEC4QLhAuEC4QDxAPEA8QLhAtEC4QDxAADQUAAA=='
#        command_twentyfive: 'JgDWAH47EA8QLhAPDy4RDxAuEA8QLhAPDy4QDxAuEC8PDxEtEA8QLhAuEC0QLhAPEBAQLhAtEA8QDxAPEA8QLhAPEA8PDxEPEA8QDxAuEA8PDxEOEA8QLhAPEA8QDxAuEC4QDxAPEC4QDw8PEA8QDxAvEA8QDxAOES0QLhAPEC4PEBAOEA8QEBAPEA8QLhAPDw8QDxAPEA8QDxAPEA8QDxEOEA8QLhAPEA8QLhAPDw8QDxAPEA8QDxEPEC0QDxAuEC4QLhAtEC8QDxAPEA8QLRAPEC4QLhAADQUAAA=='
