homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 55.6
  longitude: 13.3833
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 34
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Stockholm
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:
  javascript_version: latest
  themes: !include_dir_merge_named themes/

# Enables configuration UI
config:

http:
  api_password: !secret api_password
  ssl_certificate: /etc/letsencrypt/live/leifmariposa.asuscomm.com/fullchain.pem
  ssl_key: /etc/letsencrypt/live/leifmariposa.asuscomm.com/privkey.pem
  base_url: leifmariposa.asuscomm.com

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
#discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:
#  intents:
#    ShoppingListAddItem:
#      - Add {item} to my shopping list

shopping_list:


# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

logger:
  default: info
  logs:
    homeassistant.components.python_scripts: debug

# http iframe doesn't work with https
#panel_iframe:
#  glances:
#    title: 'Raspberry Pi'
#    icon: mdi:speedometer
#    url: 'http://192.168.2.108:61208/'

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Text to speech
tts:
  - platform: google
    language: 'sv'

sensor: !include sensors.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

verisure:
  username: leifmariposa@hotmail.com
  password: !secret verisure_password

device_tracker:
  platform: asuswrt
  host: 192.168.2.1
  username: admin
  password: !secret asuswrt_password
  protocol: telnet
  interval_seconds: 120
  track_new_devices: no

tradfri:
  host: 192.168.2.96

tellduslive:
#  public_key: FEHUVEW84RAFR5SP22RABURUPHAFRUNU
#  private_key: !secret tellduslive_private_key
#  token: 266a7d90754861957512378424a3b9680592b1a33
#  token_secret: !secret tellduslive_token_secret

shell_command:
  renew_ssl: ~/certbot/certbot-auto renew --quiet --no-self-upgrade --standalone --preferred-challenges http-01

notify:
  - name: gmail
    platform: smtp
    server: smtp.gmail.com
    port: 587
    timeout: 15
    sender: !secret gmail_address
    encryption: starttls
    username: !secret gmail_address
    password: !secret gmail_password
    recipient:
      - leifmariposa@hotmail.com
    sender_name: Home Assistant

input_boolean:
  light_auto_on:
    name: Turn on lights automatically
    initial: on
    icon: mdi:flash-auto

  light_auto_off:
    name: Turn off lights automatically
    initial: on
    icon: mdi:flash-off

  heating_auto:
    name: Automatic
    initial: on
    icon: mdi:autorenew

input_number:
  light_brightness:
    name: Brightness
    icon: mdi:brightness-5
    initial: 128
    min: 0
    max: 255
    step: 10

  light_color:
    name: Color
    icon: mdi:invert-colors
    initial: 300
    min: 154
    max: 500
    step: 10

  light_auto_on_time:
    name: Minutes before sunset
    icon: mdi:timer
    unit_of_measurement: minutes
    initial: 60
    min: 0
    max: 120
    step: 10

  light_auto_off_hour:
    name: Hour
    icon: mdi:timer
    initial: 23
    min: 0
    max: 24

  light_auto_off_minutes:
    name: Minutes
    icon: mdi:timer
    initial: 20
    min: 0
    max: 59

  set_temperature:
    name: Temperature setpoint
    icon: mdi:temperature-celcius
    min: 18
    max: 30

switch:
  - platform: broadlink
    host: 192.168.2.151
    mac: '34:EA:34:43:AF:C2'
    type: rm_mini
    monitored_conditions:
      - temperature
    switches:
      aircond_heat_28:
         friendly_name: "Heating 28"
         command_on: 'JgDWAHw9DxAPLw8QDy8QEA8vDxAPLxAPDjAOEQ4wDjAQDw8vDxAPLw8vDy8PLxAPDxEOMA4wDhEOEQ4RDhEOMA4RDhEOEQ8vDy8PEA8vDhEPEA8QDxAOMA4REQ8OEQ4wDy4QEA4RDi8PEA8QDxAPEQ8vEA8PEA8QDjAOMA4RDjAOEQ4SDhEOEA8RDhAPLw8QDxAPEA8QDxAPEA8QEQ8OEQ4RDhEOMA4RDhEOMA4RDhEOEQ4REA8PEA8QDy8PEA8vDjAQLg4xEC4QDw4RDhEOEQ4vDy8PLw8ADQUAAA=='
      aircond_heat_27:
         friendly_name: "Heating 27"
         command_on: 'JgDWAHs/EA8RLg8QES0OEREtEQ4RLQ8QES0PEA8vEC4RDhEtEA8RLQ4wDjEPLxAPEQ4RLREtEQ4RDhEOEQ4RLREOEQ4RDhEOES0QDxEtDxARDhEOEQ4PMA8QEQ4RDhEsEC4QDxEOES0QDw8REQ4RDhEtDxARDhEtDxARLQ4RES0RDhINEg0RDhEOEQ4RLRAPEQ4RDhEOEQ8RDhEOEQ4RDhEOEQ4RLQ8QEQ4RLBAPEBARDhEOEQ4RDhEOES0QDxEtEC4RLhEtDy4QEBEOEQ0SDRINEiwRLhAADQUAAA=='
      aircond_heat_26:
         friendly_name: "Heating 26"
         command_on: 'JgDWAHs+EQ8PLg8QEC4QDxEuDxAPLw8QDy8QDw8vDy8OEg8uEQ8PLhEtES0PLw8QDxAPMBAuDxAPEA8QDxAPLw8QDxAPEA8vEQ4PEA8vDxAPEA8QDxAPLw8QDxAPEBEuDy8PEA8QDy8PEA8PEA8QDxAvDhEPEA8vDxAPLw8QDy8OEQ8QDxAPEQ8QDxAPLhAPEA8QDxAPDxAPEA8QDxAPEBEPDxAPLw8QDxAPLw8QDxAPEA8QDxAPEBEOEC4QDw8vES0PLxAuDzAPEA8QDxAPLw8uDy8QLhAADQUAAA=='
      aircond_heat_25:
         friendly_name: "Heating 25"
         command_on: 'JgDWAHo/EQ8RLBEOEiwRDhEuEQ4RLREOES0PEBEtDy8PEA8vEQ8RLBEtEC4RLREOEQ4RLhEtDxARDhEOEQ4RLRAPEQ4RDhEOEQ4SDREtEQ4RDhEOEQ4RLREOEQ4RDhEuES0QDxEOESwQEBEOEQ0SDRIsEQ4RDxEtEQ4RLREOES0RDhEOEQ4RDhEOEBARLBEOEg0SDREOEQ4RDhEOEQ4RDhEOEQ8RLREOEQ4RLQ8QEQ4RDhEOEQ4RDhEOES0RDhEtES0RLRAuES0RDhEPEQ4RDhEtEC0RLREADQUAAA=='
      aircond_heat_24:
         friendly_name: "Heating 24"
         command_on: 'JgDWAH49DxAPLw8QDy4QEA8vDxAPLw8QDy8OEQ8vDjAPEA8wDxAPLw8uEC4PLxAPEA8QLg8wEA8PEA8QDxAPLw8QDxAPEA8vDy8QLhAPEA8QDxAPEA8PLw8QDxAPEA8wEC4PEA8QDy8PEA8QDxAPEA8uEg4QDw8vDxAPLw8QDy8PEA8QDxAPEBEPDxAPLw8QDxAPEA8QDw8QDw8QEA8QDxAQDxAPLw8QDxAPLw8QDxAPEA8QDxAPEA8RDy4RDhAuES0RLRAuDy8RDw8QDxAPLw8QDxAPEA8ADQUAAA=='
      aircond_heat_23:
         friendly_name: "Heating 23"
         command_on: 'JgDWAH09EQ4QLg8QES4QDw8vDhEPLw8QDy8QDw8vEC4PEBAuEA8PLw8vEC4PMA8QDxAPLw4wDhEPEA8QDxAPLhEOEg4PEA8QDy8PLw8QDxAPEA8QDxAPLxEPDxAPEA8uDy8QDxAPEC4PEA8QDxEPEA8vDxAPEA8vDxAPLw8QDy8PEQ8PEA8QDxAPEA8PLxEODxAPEA8QDxAPEBEPDxAPEA8QDxAPLw8QDxAPLhAQDhAQDxIODxAPEA8QDy8OEQ8vDy8OMA4xDi8QEA8QDw8QDxAPEA8QDxAADQUAAA=='
      aircond_heat_22:
         friendly_name: "Heating 22"
         command_on: 'JgDWAH48DxARLRAPES0QDxEuEQ4RLQ4RES0OEREsDy8PEREtDxARLQ4wDjAOMA4REQ4RLg8vDhERDhEOEQ4RLBEOEg0RDhEtDxERLREOEQ4RDhEOEQ4RLQ8QEQ4RDhEtDy8QDxEOES0PEBEOEQ4RDhEtEA8PEREtDxARLQ8QESwPEREOEQ4RDhEOEQ4RLRAPEQ4RDhEOEQ4RDhEOEQ4RDhEOEQ8RLREOEQ4RLA8QEg0RDhEOEQ4RDhEODzAOEREtDjAOMA4wDjAOEQ8QEg0RLQ8vDxARDhEADQUAAA=='
      aircond_heat_21:
         friendly_name: "Heating 21"
         command_on: 'JgDWAHs+EQ8PLxAPEC4PEA8vDxAPLw8QDy8PEBEuDy8PEA8uEBAPLg8vEC4RLg8QDxAPLw8vDxAPEA8QDxAPLxAQDxAPDxAPEA8QLhAPDxAPEA8QDxAPMA8QDxAPEA8vDy8OEQ8QDy4QEA8QEQ4PEA8vDxAPEA8vDxAPLw8QDy8RDw8QDxAPEA8QDxAPLg8QEA8QDxAPEA8PEQ8QDxAPEA8QDxAPLw8QDxAPLw8QDxAPEQ8QDxAPDxAPEC4QDw8vES0QLhEuDy8OEQ8QDxAPEA8uEBAPEA8ADQUAAA=='
      aircond_heat_20:
         friendly_name: "Heating 20"
         command_on: 'JgDWAHs+EQ4QLxAPDy8QDw8vDxAPLw8QDy8PEBEtEC4QEA8uEQ4QLhAuEC8PLw8QDxAPLxAuDxAPEA8QDxAPLxEOEA8QDxAuEC4PEA8QEA8PEA8QDxARLg8QDxAPEA8vDy4QEA8PEC4QDxIODxAPEA8vDxAPEA8vDxAPLw8QDy8QEA8QDxAPDxAPEA8QLhAPEA8PEA8QDxEPEA8QDxAPEA8QDxAPLxAPDxAPLxAPEQ4QDxAPEA8QDxAPEC4PEA8vEC4QLw8vDy8PEA8QDxAPLhAPEC4QEA8ADQUAAA=='
      aircond_heat_19:
         friendly_name: "Heating 19"
         command_on: 'JgDWAH09EA8QLhAPEC4RDxAtEQ4RLREOES0RDhEtES4QDxAuEA8QLhAuEC4QLREPEA8RLREtEQ4RDhEOEQ4RLREOEA8QDxEPEC4QDxAPEA8QDxAPEA4RLREOEQ4RDhItES0QDxAPEC4QDxAPEA8QDxAuEQ8QDxAtEQ4RLREOES0RDhEOEQ4RDxAPEA8QLhAPEA8QDxAPEA8QDxAPEA8QDxEOEQ4RLREOEQ4RLREOEA8QDxAPEA8QDxEPEC4QDxAtES0RLREtES4RDhAPEA8QDw8QDy8QDw8ADQUAAA=='
      aircond_heat_18:
         friendly_name: "Heating 18"
         command_on: 'JgDWAH09EQ4RLhEOES0OERAuDhEQLhAPEC4OEhAtES0PEBEtEQ4RLQ4wEC8QLhAPEA8QLhAuDhEQDxAPEA8QLg8QEQ4PEBEtEA8RDhEOEA8QDxAPEA8QLxAPEA8QDxAuEC0RDhEOES0RDhEPEA8QDxAuDhEQDxAuEA8QLhAPEC4PEBEOEQ4RDhEOEQ4RLREOEQ4RDhEOEA8RDxAPEA8QDxAPEA8OMBAPEA8QLREOEQ4SDhEOEQ4RDhEOES0QDxAuEC4QLxAuEC4QDxAOEQ4RLREtEC4RDxEADQUAAA=='
#      volume_down:
#        friendly_name: "Volume Down"
#        command_on: 'JgCMAJOUEzcUNhM3ExISExITEhISExI4EjgSOBITEhISExEUEhISOBI4EhMQOhETERQQFBEUERMRFBE4ERQRORE5EDkROREABhGNlxE5EDkROREUERQQFBEUEBQROBE5ETkRFBAUEBQRFBAUEDkRORAUETkRExETERQQFBAUEBQQORETETkROBI3EjgRAA0FAAAAAAAAAAAAAAAA'
#      volume_up:
#        friendly_name: "Volume Up"
#        command_on: 'JgCMAJOUFDYUNhQ2FBEUERQRExITEhM3EzYUNhQSExETEhMSExEUNhQ2FDYTEhMSExEUERMSExETEhMSEzYUNhM3EzcTNxMABg+RlBM2FDYUNhQRExITERQRExITNhM3EzcTEhMRExITERMSEjcTNxM2FBETEhMRExETEhMRExETEhI3EzYTNxM3EzYTAA0FAAAAAAAAAAAAAAAA'


history_graph:
  gr1:
    name: Indoor temperature day
    entities:
      - sensor.vardagsrumne_temperature
      - sensor.set_temperature
    hours_to_show: 24
  gr2:
    name: Indoor temperature
    entities:
      - sensor.vardagsrumne_temperature
      - sensor.set_temperature
    hours_to_show: 168
  gr3:
    name: Outdoor temperature
    entities:
      - sensor.ute_temperature
    hours_to_show: 168
  gr4:
    name: Indoor humidity
    entities:
      - sensor.vardagsrum_humidity
    hours_to_show: 168

python_script: